#bracket {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	padding-top: 20px;
	font-size: 12px;
	padding: 40px 0;

	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.round-container {
	max-width: 2000px;
	width: 90%;

	display: flex;
	user-select: none;

	-webkit-flex-direction: column;
	flex-direction: column;

	align-items: center;
	justify-content: space-between;
}

.sector {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 15px;
}

// #champions.active {
// 	transition: scale 0.5s, outline 0.6s, box-shadow 0.5s ease-in-out;
// 	box-shadow: 0px 0px 0px 0px gold;
// 	&:hover {
// 		scale: 1.2;
// 		box-shadow: 0px 0px 0px 7px gold;
// 	}
// }
#champion-container {
	text-shadow: 1px 1px 1px #000;
}
.team-winners {
	border: 1px solid black;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
	&.gold {
		color: #ffe000;
		&:hover {
			background-color: #ffe000;
			color: white;
			//			text-shadow: none;
		}
	}
	&.bronze {
		color: #d38000;
		&:hover {
			background-color: #d38000;
			color: white;
			//			text-shadow: none;
		}
	}
	&.silver {
		color: #c4c4c4;
		&:hover {
			background-color: #c4c4c4;
			color: white;
			//			text-shadow: none;
		}
	}
}
.round {
	display: block;
	float: left;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	align-items: center;
	width: 95%;
	width: 30.8333%\9;
}

.matchup {
	position: relative;
	color: black;
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;

	width: 100%;
	height: 59px;

	-webkit-transition: all 0.2s;
	transition: all 0.2s;

	overflow: hidden;
	z-index: 3;

	&:not(.inactive):hover {
		scale: 1.1;
	}

	&.inactive {
		.team {
			opacity: 0.45;
			* {
				display: none;
			}
		}
	}

	.team {
		&.winner {
			color: #00c439;
		}
		&.loser {
			color: #bd0000;
		}
	}

	&.ongoing {
		&::before {
			content: "";
			position: absolute;
			width: 200%;
			left: -50%;
			top: 20%;
			height: 25%;
			background: linear-gradient(
				rgb(255, 208, 1),
				rgb(230, 255, 1),
				rgb(64, 255, 0),
				rgb(230, 255, 1),
				rgb(230, 255, 1)
			);
			animation: rotate 3s linear infinite;
			z-index: -2;
			filter: blur(5px);
		}
		&::after {
			content: "";
			position: absolute;
			background: rgb(0, 0, 0);
			inset: 2px;
			z-index: -1;
		}
	}
}

.score {
	font-size: 11px;
	text-transform: uppercase;
	float: right;
	color: #2c7399;
	font-weight: bold;
	font-family: "Roboto Condensed", sans-serif;
	position: absolute;
	right: 5px;
}
.team {
	padding: 0 5px;
	margin: 3px 0;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;

	background-color: #fff;
}
.team-winners {
	height: 50px;
	width: 100%;
	background-color: #fff;
	opacity: 0.45;
	display: flex;
}
#winners-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.round-two {
	.matchup {
		margin: 0;
		height: 60px;
	}
}
.round-three {
	.matchup-container-round-three {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		.finals-details {
			width: calc(100% / 4);
		}
	}
}

.semis-section {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.round-details {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	margin-bottom: 10px;
	color: $round-title-color;
	text-transform: uppercase;
	text-align: center;
	height: 40px;
}

.matchup-container {
	width: 100%;
	display: flex;
	gap: 15px;
	flex-direction: row;
	height: 100%;
	justify-content: space-evenly;
}

.matchup-container-round-two,
.matchup-container-round-three {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 80px;
}
.matchup-container-round-two {
	gap: 15px;
	flex-direction: row;

	.semis-section {
		.matchup {
			width: 50%;
		}
	}
}

.team-winners.active {
	background-color: #fff;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	font-size: large;
}

@media screen and (max-width: 980px) {
	#round-details-right {
		display: none;
	}
	.round-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		flex-direction: column;
	}
	.sector {
		flex-direction: column;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
