// Inspired by https://codepen.io/jbeason/pen/Wbaedb mention on website https://blog.codepen.io/2018/02/16/need-make-tournament-bracket/ autor: Joe Beason
/* width */
::-webkit-scrollbar {
	width: 5px;
	position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c7399;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #00a6ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
