* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Istok Web", sans-serif;
	min-height: 100%;
	margin: 0;
}

@import "bracket.scss";
@import "scrollbar.scss";

.bg-image {
	position: fixed;

	// Blur reaches out of the image and introduces a white edge
	// The solution? Stretch it further out!
	top: -5px;
	left: -5px;
	z-index: -1;

	background: url("../assets/bg-small.webp") no-repeat #000;
	background-size: cover;
	filter: blur(2px);

	width: calc(100% + 5px * 2);
	height: calc(100% + 5px * 2);
}
.header-wrap {
	margin: 1em 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	// text-align: center;
	overflow: hidden;
	color: #fcfcfc;
	user-select: none;
	* {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.year {
		flex-direction: row;
	}
}
.hero .headline {
	color: white;

	font-family: "Holtwood One SC", serif;
	font-weight: normal;
	font-size: 5.4em;
	// margin: 0 0 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
	letter-spacing: -1px;
}
.hero .intro {
	font-family: "Abel", sans-serif;
	text-transform: uppercase;
	color: #00a6ff;
	letter-spacing: 6px;
	// text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

	font-size: 1.2em;
}
.hero-wrap {
	padding: 0px 10px 3.5em 10px;
}
.hero {
	.intro {
		font-family: "Holtwood One SC", serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 3em;
		margin-bottom: -30px;
	}
}
.year {
	display: flex;
	color: #e50045;
	justify-content: center;

	// color: #fff;

	font-size: 34px;
	font-weight: bold;
	margin: -15px 0 10px;
	i {
		font-size: 14px;
		vertical-align: middle;
	}
	span {
		letter-spacing: 20px;
		margin-right: -20px;
	}

	.fa-star {
		margin: auto 20px;
		scale: 1.5;
	}
	padding: 15px;
	background-color: #121212;
}

$share-pulse-scale: 1.15;
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale($share-pulse-scale);
		transform: scale($share-pulse-scale);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale($share-pulse-scale);
		-ms-transform: scale($share-pulse-scale);
		transform: scale($share-pulse-scale);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.share-icon {
	display: flex;
	font-size: 24px;
	padding: 25px;
	color: #fff;
	opacity: 0.35;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 1;

		ion-icon {
			-webkit-animation: pulse 0.5s;
			animation: pulse 0.5s ease-in-out;
		}
	}
}
.date {
	font-size: 10px;
	letter-spacing: 2px;
	font-family: "Istok Web", sans-serif;
	color: white;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
	body {
		background-position: center;
	}
	.container {
		margin: 0 1%;
	}
	.center-box {
		width: 14%;
	}
	.split {
		width: calc(43% - (43% / 4));
	}
	.split-one .vote-box {
		margin-left: 138px;
	}
	.hero {
		.intro {
			font-size: 28px;
		}
		.year {
			margin: 5px 0 10px;
		}
	}
}

@media screen and (max-width: 370px) {
	.hero {
		.year {
			font-size: 13px;
			.fa-star {
				font-size: 10px;
			}
		}
	}

	.headline {
		text-align: center;
	}
}
@media screen and (max-width: 980px) {
	.year {
		background-color: transparent;
		box-shadow: 0 0 20px 10px black;
		width: 80%;
		font-size: 20px;
	}
	body {
		background-position: center;
	}
	.hero {
		.headline {
			font-size: 2.5em;
			margin: 15px 0;
		}
		.intro {
			font-size: 24px;
			p {
				font-size: 1em;
			}
		}
	}
}

@media screen and (max-width: 475px) {
	.hero p.year i {
		display: none;
	}
	body {
		background-position: center;
	}
}
@media screen and (max-width: 400px) {
	body {
		background-position: center;
	}
	.split {
		display: flex;
		width: 95%;
		margin: 25px 2.5%;
	}
	.current {
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		flex-grow: 1;
	}
	.hero h1 {
		font-size: 2em;
		letter-spacing: 0;
		margin: 0;
	}
	.hero .intro {
		font-size: 1.15em;
		margin-bottom: -10px;
	}
	.round-details {
		font-size: larger;
	}
	.hero-wrap {
		padding: 2.5em;
	}
	.hero p.year {
		margin: 5px 0 10px;
		font-size: 18px;
	}
}
