* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Istok Web", sans-serif;
	min-height: 100%;
	margin: 0;
}
.bg-image {
	position: fixed;
	top: -5px;
	left: -5px;
	z-index: -1;

	background: url("../assets/TłoX4.png") no-repeat #000;
	background-size: cover;
	filter: blur(2px);

	width: calc(100% + 5px * 2);
	height: calc(100% + 5px * 2);
}
.header-wrap {
	margin: 1em 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	// text-align: center;
	overflow: hidden;
	color: #fcfcfc;
	user-select: none;
	* {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.year {
		flex-direction: row;
	}
}
.hero .headline {
	color: white;

	font-family: "Holtwood One SC", serif;
	font-weight: normal;
	font-size: 5.4em;
	// margin: 0 0 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	text-transform: uppercase;
	letter-spacing: -1px;
}
.hero .intro {
	font-family: "Abel", sans-serif;
	text-transform: uppercase;
	color: #00a6ff;
	letter-spacing: 6px;
	// text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

	font-size: 1.2em;
}
.hero-wrap {
	padding: 0px 10px 3.5em 10px;
}
.hero {
	.intro {
		font-family: "Holtwood One SC", serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 3em;
		margin-bottom: -30px;
	}
}
.year {
	display: flex;
	color: #e50045;
	justify-content: center;

	// color: #fff;

	font-size: 34px;
	font-weight: bold;
	margin: -15px 0 10px;
	i {
		font-size: 14px;
		vertical-align: middle;
	}
	span {
		letter-spacing: 20px;
		margin-right: -20px;
	}

	.fa-star {
		margin: auto 20px;
		scale: 1.5;
	}
	padding: 15px;
	background-color: #121212;
}

#bracket {
	overflow: hidden;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.9);
	padding-top: 20px;
	font-size: 12px;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}
.container {
	max-width: 2000px;
	width: 90%;
	// margin: 0 16%;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	user-select: none;
}
.split {
	display: block;
	float: left;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 42%;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
}
.champion {
	display: block;
	-webkit-flex-direction: row;
	flex-direction: column;
	-webkit-align-self: center;
	align-self: center;
	// margin-top: -15px;
	text-align: center;
	padding: 230px 0\9;
	margin-top: 4px;
}
.center-box {
	width: 16%;
}
.champion i {
	color: #a0a6a8;
	font-size: 45px;
	padding: 10px 0;
}
.round {
	display: block;
	float: left;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	align-items: center;
	width: 95%;
	width: 30.8333%\9;
}
.split-one .round {
	margin: 0 2.5% 0 0;
}
.split-two .round {
	margin: 0 0 0 2.5%;
}
.matchup {
	margin: 0;
	width: 100%;
	padding: 10px 0;
	height: 60px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.score {
	font-size: 11px;
	text-transform: uppercase;
	float: right;
	color: #2c7399;
	font-weight: bold;
	font-family: "Roboto Condensed", sans-serif;
	position: absolute;
	right: 5px;
}
.team {
	padding: 0 5px;
	margin: 3px 0;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.team-winners {
	height: 50px;
	width: 100%;
	background-color: #fff;
	opacity: 0.45;
	display: flex;
	margin-top: 80px;
}
.round-three,
.round-two,
.round-four {
	.matchup {
		margin: 0;
		height: 60px;
		padding: 10px 0;
	}
}
.round-details {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	color: #2c7399;
	text-transform: uppercase;
	text-align: center;
	height: 40px;
}
// .champion li,
// .round li {
// 	background-color: #fff;
// 	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
// 	opacity: 1;
// }

.team {
	background-color: #fff;
	box-shadow: none;
	opacity: 0.45;
}
.current li {
	opacity: 1;
}
// .current li.team {
// 	background-color: #fff;
// 	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
// 	opacity: 1;
// }
.vote-options {
	display: block;
	height: 52px;
}
.share-section {
	display: table;
	width: 100%;
	overflow: hidden;
	background-color: #000;
	background-color: rgba(0, 0, 0, 1);
	border-style: solid none none none;
	border-width: 3px;
	border-color: rgba(0, 0, 0, 1);
}
.share {
	display: flex;
	justify-content: center;

	user-select: none;
	.container {
		margin: 0 auto;
		text-align: center;
	}
}

// .share-wrap {
// 	max-width: 1100px;
// 	text-align: center;
// 	margin: 25px auto;
// }
.final {
	// margin: 4.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 50px 0;
}
$share-pulse-scale: 1.15;
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale($share-pulse-scale);
		transform: scale($share-pulse-scale);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale($share-pulse-scale);
		-ms-transform: scale($share-pulse-scale);
		transform: scale($share-pulse-scale);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.share-icon {
	display: flex;
	font-size: 24px;
	padding: 25px;
	color: #fff;
	opacity: 0.35;
	transition: opacity 0.3s ease-in-out;
	&:hover {
		opacity: 1;

		ion-icon {
			-webkit-animation: pulse 0.5s;
			animation: pulse 0.5s ease-in-out;
		}
	}
}
.date {
	font-size: 10px;
	letter-spacing: 2px;
	font-family: "Istok Web", sans-serif;
	color: white;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
	body {
		background-position: center;
	}
	.container {
		margin: 0 1%;
	}
	.center-box {
		width: 14%;
	}
	.split {
		width: 43%;
	}
	.split-one .vote-box {
		margin-left: 138px;
	}
	.hero .intro {
		font-size: 28px;
	}
	.hero .year {
		margin: 5px 0 10px;
	}
}

@media screen and (max-width: 980px) {
	body {
		background-position: center;
	}
	.container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		flex-direction: column;
	}
	.split,
	.center-box {
		width: 90%;
		margin: 35px 5%;
	}
	.center-box {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}
	.split {
		border-bottom: 1px solid #b6b6b6;
		padding-bottom: 20px;
	}
	.hero {
		.headline {
			font-size: 2.5em;
			margin: 15px 0;
		}
		.intro {
			font-size: 24px;
			p {
				font-size: 1em;
			}
		}
	}
}

@media screen and (max-width: 475px) {
	.hero p.year i {
		display: none;
	}
	.round-details {
		margin-bottom: 1.5em;
	}
	body {
		background-position: center;
	}
}
@media screen and (max-width: 400px) {
	body {
		background-position: center;
	}
	.split {
		width: 95%;
		margin: 25px 2.5%;
	}
	// .round {
	// 	/* width: 21%; */
	// }
	.current {
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		flex-grow: 1;
	}
	.hero h1 {
		font-size: 2em;
		letter-spacing: 0;
		margin: 0;
	}
	.hero .intro {
		font-size: 1.15em;
		margin-bottom: -10px;
	}
	.round-details {
		font-size: larger;
	}
	.hero-wrap {
		padding: 2.5em;
	}
	.hero p.year {
		margin: 5px 0 10px;
		font-size: 18px;
	}
}

// .round {
// 	/* justify-content: space-around; */
// }

.matchup-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

.matchup-container-round-two,
.matchup-container-round-three,
.matchup-container-round-four {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 80px;
}
// semis-l i semis-r są wyłączone
.semis-l {
	display: none;
}

.semis-r {
	display: none;
}

.current-team {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	opacity: 1;
}

.matchup.active {
	transition: transform 0.3s ease-out;
	// overflow: hidden;
	// border: 1px solid #999;
	.team {
		box-shadow: 0px 0px 0px 0px #fc5185;
		transition: box-shadow 0.5s ease-in-out;
	}

	&:hover {
		z-index: 100;
		transform: scale(1.2);
		.team {
			box-shadow: 0px 0px 0px 3px #fc5185;
		}
	}
}
