* {
    margin: 0;
    padding: 0;
}
html, 
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
   --matchup-width: 110px;
   --matchup-height: 40px;
   --glow-width: 6px
}
.glow::before, .glow::after {
    content: "";
    position: absolute;
    top: calc(var(--glow-width) / (-2));
    left: calc(var(--glow-width) / (-2));
    width: calc(100% + var(--glow-width));
    height: calc(100% + var(--glow-width));
    background: linear-gradient(45deg, #00eeff, #0077ff, #ff0000, #ff5e00);
    background-size: 400%;
    z-index: -1;
    animation: glowing 10s linear infinite;
}

.glow::after {
    filter: blur(10px);
    opacity: 0.7;
}

.matchup-team {
    position: relative;
    display: flex;
    width: var(--matchup-width);
    height: var(--matchup-height);
    background-color: rgb(0, 0, 0);
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 100% 0;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}
